In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
os.path.exists('../data/')

True

In [10]:
crime_df_1 = pd.read_excel('../data/crime/Crimes_Against_Persons_Offenses_Offense_Category_by_State_2020.xls.xlsx', skiprows=5)
crime_df_2 = pd.read_excel('../data/crime/Crimes_Against_Property_Offenses_Offense_Category_by_State_2020.xls.xlsx')

In [34]:
crime_df_1.columns = [col.replace('\n', ' ') if 'Unnamed' not in col  else 'Total Offenses' for col in crime_df_1.columns ]
cleaned_df1 = crime_df_1.dropna()
cleaned_df1.to_csv('crime_df_1_cleaned.csv')

In [33]:
crime_df_2.columns = columns_2 = ['State', 'Number of Participating Agencies', 'Population Covered',
'Total Offenses', 'Arson' , 'Bribery', 'Burglary/Breaking & Entering', \
'Counterfeiting/Forgery', 'Destruction/Damage/Vandalism','Embezzlement', \
'Extortion/Blackmail', 'Fraud Offenses', 'Larceny/Theft Offenses','Motor Vehicle Theft', \
            'Robbery', 'Stolen Property Offenses']

cleaned_df2 = crime_df_2.dropna().reset_index(drop = True)
cleaned_df2.to_csv('crime_df_2_cleaned.csv')

In [7]:
business_df = pd.read_csv('/Users/edwinhuang/Documents/GitHub/data-eng-final-proj-1/clean_data/sales/business_df.csv')
future_50 = pd.read_csv('/Users/edwinhuang/Documents/GitHub/data-eng-final-proj-1/clean_data/sales/Future50.csv')
independence_100 = pd.read_csv('/Users/edwinhuang/Documents/GitHub/data-eng-final-proj-1/clean_data/sales/Independence100.csv')
top250 = pd.read_csv('/Users/edwinhuang/Documents/GitHub/data-eng-final-proj-1/clean_data/sales/top250.csv')

In [8]:
top250

,Rank,Restaurant,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category,City,State
0,1,McDonald's,40412,4.9%,13846,-0.5%,"Chicago, Illinois",Quick Service & Burger,Chicago,Illinois
1,2,Starbucks,21380,8.6%,15049,3.0%,"Seattle, Washington",Quick Service & Coffee Cafe,Seattle,Washington
2,3,Chick-fil-A,11320,13.0%,2470,5.0%,"College Park, Georgia",Quick Service & Chicken,College Park,Georgia
3,4,Taco Bell,11293,9.0%,6766,2.7%,"Irvine, California",Quick Service & Mexican,Irvine,California
4,5,Burger King,10204,2.7%,7346,0.2%,"Miami-Dade County, Florida",Quick Service & Burger,Miami-Dade County,Florida
...,...,...,...,...,...,...,...,...,...,...
185,239,Daylight Donuts,132,2.2%,415,0.2%,"Tulsa, Oklahoma",Snack,Tulsa,Oklahoma
186,242,Biggby Coffee,129,3.8%,240,0.8%,"Lansing, Michigan",Coffee Cafe,Lansing,Michigan
187,244,L&L Hawaiian Barbecue,129,5.1%,195,3.7%,"Honolulu, Hawaii",BBQ,Honolulu,Hawaii
188,246,Rainforest Cafe,129,-10.4%,18,-5.3%,"Houston, Texas",Varied Menu,Houston,Texas
189,250,Jollibee,126,15.2%,40,11.1%,"Pasig, Philippines",Chicken,Pasig,Philippines

In [22]:
df = []
for res in business_df.Restaurant:
    if len(top250[top250.Restaurant == res]) == 1:
        row = [1, 0, 0]
    elif len(independence_100[independence_100.Restaurant == res]):
        row = [0,1,0]
    elif len(future_50[future_50.Restaurant == res]):
        row = [0,0,1]
    df.append(row)

In [26]:
pd.DataFrame(data = df, columns = ['chain', 'independent', 'future']).to_csv('business_details.csv')

In [38]:
states = pd.read_csv('/Users/edwinhuang/Documents/GitHub/data-eng-final-proj-1/clean_data/sales/state_df.csv')
states

    state_id           State
0          1         Alabama
1          2          Alaska
2          3         Arizona
3          4        Arkansas
4          5      California
5          6        Colorado
6          7     Connecticut
7          8        Delaware
8          9         Florida
9         10         Georgia
10        11          Hawaii
11        12           Idaho
12        13        Illinois
13        14         Indiana
14        15            Iowa
15        16          Kansas
16        17        Kentucky
17        18       Louisiana
18        19           Maine
19        20        Maryland
20        21   Massachusetts
21        22        Michigan
22        23       Minnesota
23        24     Mississippi
24        25        Missouri
25        26         Montana
26        27        Nebraska
27        28          Nevada
28        29   New Hampshire
29        30      New Jersey
30        31      New Mexico
31        32        New York
32        33  North Carolina
33        34    North Dakota
34        35            Ohio
35        36        Oklahoma
36        37          Oregon
37        38    Pennsylvania
38        39    Rhode Island
39        40  South Carolina
40        41    South Dakota
41        42       Tennessee
42        43           Texas
43        44            Utah
44        45         Vermont
45        46        Virginia
46        47      Washington
47        48   West Virginia
48        49       Wisconsin
49        50         Wyoming

In [70]:
df2 = pd.read_csv('/Users/edwinhuang/Documents/GitHub/data-eng-final-proj-1/clean_data/crime/crime_df_2_cleaned.csv', index_col = 0)
df2 = df2.drop('Total Offenses', axis = 1).iloc[1:]
df2['state_id'] = df2.State.apply(lambda x: states[states.State == x]['state_id'].values[0])
df2.to_csv('crime_property.csv')

In [69]:
states

    state_id           State
0          1         Alabama
1          2          Alaska
2          3         Arizona
3          4        Arkansas
4          5      California
5          6        Colorado
6          7     Connecticut
7          8        Delaware
8          9         Florida
9         10         Georgia
10        11          Hawaii
11        12           Idaho
12        13        Illinois
13        14         Indiana
14        15            Iowa
15        16          Kansas
16        17        Kentucky
17        18       Louisiana
18        19           Maine
19        20        Maryland
20        21   Massachusetts
21        22        Michigan
22        23       Minnesota
23        24     Mississippi
24        25        Missouri
25        26         Montana
26        27        Nebraska
27        28          Nevada
28        29   New Hampshire
29        30      New Jersey
30        31      New Mexico
31        32        New York
32        33  North Carolina
33        34    North Dakota
34        35            Ohio
35        36        Oklahoma
36        37          Oregon
37        38    Pennsylvania
38        39    Rhode Island
39        40  South Carolina
40        41    South Dakota
41        42       Tennessee
42        43           Texas
43        44            Utah
44        45         Vermont
45        46        Virginia
46        47      Washington
47        48   West Virginia
48        49       Wisconsin
49        50         Wyoming

In [ ]:
states[states.]